<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link href="/edit.css" type="text/css" rel="stylesheet">
    </head>
<body>
    <div id="container">

        <div id="formContainer">

            
                <fieldset id="phoneNumber">
                    <legend class="legendTitle">Editing Notes For </legend>
                    <h1><%= numbers.phoneNumber %> </h1>
                </fieldset>
                <br>
            <form id="editNotes" action="/<%=numbers.id%>?_method=PUT" method="POST">
                <fieldset id="notesContainer">
                        <legend class="legendTitle">New Notes</legend>
                        <textarea rows="10" name="note" class="message" id="note"><%=numbers.note%></textarea><br>
                    <a href="/show"><button class="buttons" id="back">BACK</button></a>
                    <input type="submit" class="buttons" id="submitButton">
                    </fieldset>
            </form>
            
        </div>
    </div>
     
     <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src='/app.js'></script>
</body>
</html>








