<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link href="/edit.css" type="text/css" rel="stylesheet">
    </head>
<body>
    <div id="container">

        <div id="formContainer">

            
                <fieldset id="phoneNumber">
                    <legend class="legendTitle">Editing Notes For Phone Number</legend>
                    <%= numbers.phoneNumber %>
                </fieldset>
                <br>
            <form id="editNotes" action="/<%=numbers.id%>?_method=PUT" method="POST">
                <fieldset id="notesContainer">
                    <legend class="legendTitle">New Notes</legend>
                    <input type="text" id="notes" name="note" value="<%=numbers.note%>">
                <input type="submit" class="buttons" id="submitButton">
                </fieldset>
            </form>
            
        </div>
    </div>
     
     <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src='/app.js'></script>
</body>
</html>








