<!DOCTYPE html>
<html>
    <head>      

        <title>Caller</title>

    </head>

    <body>
        <h1>Text or Call Your Friends</h1>
        
        <div id="pageContainer">
            <form action="/" method='POST'>
                <input type='password' name='auth_token' value='Your Auth Token'>
                <input type='password' name='sid' value='Your SID'>
                <input type="integerField" name='phoneNumber' id="phoneNumber" placeholder="Enter Phone Number">
                <input type="textField" name='message' id="message" placeholder="What to send">
           
                <div id="options">
                    <input type="checkbox" value="Call">
                    <input type="checkbox" placeholder="Text">
                    <input id="submitButton" type="submit" value="Send">
                </div>
             </form>
            
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        
        
    </body>

</html>