<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link href="main.css" type="text/css" rel="stylesheet">
    </head>
<body>
    <div id="container">

        <!-- Modal Container -->
        <div id="modal">

            <div id="modalTextbox">
                <h2>Call a friend or Call that annoying spammer</h2>
                <p>Tired of those annoying spammers trying to steal your identity?
                    Ever wanted to get back at them? Well now you can. This site makes 
                    it easier than ever to get them back. What about a friend? Make prank robot calls
                    easier than ever. Simply select the skynet option to send a robotic skynet recruitment message.
                </p>
                <p>
                    In order to enjoy this service, it does require you to have a twilio account which you can sign up for <a id="twilioLink" href="https://www.twilio.com/try-twilio" target="_blank">here</a>. Once you have your account set up and funded, you copy and paste your SID and auth_token from your account dashboard into the corresponding fields, enter the phone number and an optional message. Then select your call option and click submit. Recording option will be coming soon, so keep checking back as we add updates!
                </p>

                <button id="closeModal">Close</button>
            </div>

        </div>



    <div id="formContainer">

    <h1 class="mobile">Make A Robot Call</h1>

        <h1>Make a <br>robot call</h1>

        <form id="callForm" action="/" method="POST">
            <fieldset id="twilioAcctInfo">
                <legend class="legendTitle">Twilio Acct Info</legend>
                <input placeholder="sid" type="password" name="sid" id="sid"><br>
                <input type='password' placeholder="auth token" name='auth_token' id='auth_token'>
            </fieldset>
            <br>
            <fieldset id="numberAndNotes">
                <legend class="legendTitle">Call Info</legend>
                <input type="text" placeholder="Phone #" name="phoneNumber" id="phoneNumber"><br>
                <textarea rows="5" placeholder="Note" name="note" class="message" id="note"></textarea><br>
            </fieldset>
            
            <fieldset class="legendTitle" id="callOptions">
            <legend> Call Options</legend>
            
            
             <input name="skynet" type="checkbox">skynet <br>
             <input name="dontSpam" type="checkbox">Spammer Revenge <br>
             
             <input type="checkbox" name="loop">Flood
            
            </fieldset>
            <br>
            <input type="submit" class="buttons" id="submitButton">
            
        </form>
    </div>
    
  </div>

  <div id="show_newNumbers">
        <a href="/show"><button class="buttons">Show Numbers</button></a>
    
        <a href="/new" id="new"><button class="buttons">NEW</button></a>
    </div>
     
     <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src='/app.js'></script>
</body>
</html>