<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEW</title>
</head>
<body>
    <form action="/" method="POST">
        <input type='text' name='auth_token' id='auth_token'>
        <input type="text" name="sid" id="sid">
        <input type="submit" id="submitButton">
    </form>
    <a href="/"><button>back</button></a>
</body>
</html>