<!DOCTYPE html>
<html lang="en">
    <head>
    <% include ./partials/head.ejs %>
    <link href="show.css" type="text/css" rel="stylesheet">
    </head>
<body>

    <div id="pageContainer">
        <a href="/" id="backButton"><button>BACK</button></a>
        <h1>Phone Numbers</h1>
        <div id="numberContainer">
            
            <ul>
                <% for (var i = 0; i < numbers.length; i++) { %> 
                    <li id="number"><%=numbers[i].phoneNumber%></li>
                    <li id="message"><%=numbers[i].note%></li>
                    <li>
                        <form action="/<%=numbers[i].id%>?_method=DELETE" method="POST"><input type="submit" value="DELETE" id="deleteEntry"></form>
                    </li>
                    <hr>
                <% } %>
            </ul>
        </div>

    </div>
</body>
</html>