*{
    font-family: 'Audiowide', cursive;
}
body{
    background-image: url('https://ak9.picdn.net/shutterstock/videos/1030736249/thumb/1.jpg?ip=x480');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 320px){
    
    #Container{
        width: 90%;
        margin: 0 auto;
    }
    .legendTitle{
        font-size: 20px;
    }
    #notes{
        width: 96%;
        height: 200px;
        font-size: 24px;
    }
    #submitButton{
        margin-top: 30px;
    }
    #back{
        background-color: white;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
    }
    h1{
        font-size: 30px;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 24px;
    }
    #deleteEntry{
        font-size: 15px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 18px;
    }
    #message{
        font-size: 18px;
        margin-top: 18px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    #note{
        height: 100px;
        font-size: 18px;
        overflow: scroll;
    }
    
}