*{
    font-family: 'Audiowide', cursive;
}
body{
    background-image: url('https://ak9.picdn.net/shutterstock/videos/1030736249/thumb/1.jpg?ip=x480');
    background-repeat: no-repeat;
    background-size: cover;
}
#note{
    resize: none;
}
input[type='checkbox']{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.mobile{
    display: none;
}
.twilioAccountInfo{
    width: 100%;
    font-size: 28px;
    border-radius: 4px;
    margin-bottom: 5px;
}
h1{
    color: blue;
    text-align: center;
    font-size: 80px;
}
#new{
    display: inline-block;
    width: 100%;
    border-radius: 4px;
}

#submitButton{
    font-size: 60px;
    height: 100px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 5px;
}
#modal{
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts the modal in front of the body (which has a default z-index setting of `0`)*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}
#modalTextbox{
    background-color: black;
	/* height: 350px; */
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba((0,0,0,0.2));
	text-align: center;
	padding: 25px;
    opacity: .9;
    color: white;
    font-family: "Audiowide", cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
}
#modal-textbox h1 {
    line-height: 60px;
    font-size: 22px;
}
#twilioLink {
    color: red;
}
#modalExit{
    border-radius: 8px;
    font-family: "Audiowide", cursive;
}
#container{
    display: block;
    width: 50%;
}
fieldset{
    border: 1px solid grey;
}
.legendTitle{
    font-size: 24px;
}
#options{
    display: block;
}
#phoneNumber{
    display: block;
    width: 100%;
    height: 34px;
    font-size: 24px;
    border-radius: 4px;
    text-align: center;
}
.message{
    width: 100%;
    /* height: 100px; */
    overflow: scroll;
    margin: 5px auto;
    border-radius: 4px;
    font-size: 24px;
    /* text-align: centesr; */
}
.buttons{
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
}
#call{
    font-size: 40px;
}
#showNumbers{
    font-size: 40px;
}

@media(max-width: 320px){
    
    #container{
        width: 100%;
    }
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    h1{
        font-size: 40px;
        color: white;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #submitButton{
        width: 100%;
        font-size: 40px;
        background-color: green;
    }
    #show_newNumbers{
        width: 100%;
    }
    fieldset{
        border: 1px solid white;
        opacity: .9;
        font-size: 24px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    #callOptions{
        display:block;
        font-size: 15px;
    }
}

@media(max-width: 411px){
    
    #container{
        width: 100%;
    }
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    h1{
        font-size: 40px;
        color: white;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #submitButton{
        width: 100%;
        font-size: 40px;
        background-color: green;
    }
    #show_newNumbers{
        width: 100%;
    }
    fieldset{
        border: 1px solid white;
        opacity: .9;
        font-size: 24px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    #callOptions{
        display:block;
        font-size: 22px;
    }
}

@media(max-width: 414px){
    #container{
        width: 100%;
    }
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    h1{
        font-size: 30px;
        color: white;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #submitButton{
        width: 100%;
        font-size: 40px;
        background-color: green;
    }
    #show_newNumbers{
        width: 100%;
    }
    fieldset{
        border: 1px solid white;
        opacity: .9;
        font-size: 24px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
}

@media(max-width: 768px){
    #container{
        width: 100%;
    }
    .legendTitle{
        font-size: 35px;
    }
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    h1{
        display: none;
    }
    .mobile{
        font-size: 70px;
        color: white;
        display: block;
    }
    .buttons{
        font-size: 40px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
        border-radius: 8px;
    }
    #submitButton{
        width: 100%;
        font-size: 40px;
        background-color: green;
    }
    #callOptions input{
        margin-left: 30px;
    }
    #show_newNumbers{
        width: 100%;
    }
    fieldset{
        border: 1px solid white;
        opacity: .9;
        font-size: 24px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
}

@media(max-width: 1024px){
    #container{
        width: 100%;
    }
    .legendTitle{
        font-size: 45px;
    }
    input[type="checkbox"]{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    h1{
        display: none;
    }#sid{
        font-size: 40px;
    }
    #auth_token{
        font-size: 40px;
    }
    #phoneNumber{
        font-size: 50px;
        height: 100px;
    }
    #note{
        font-size: 40px;
    }
    .mobile{
        font-size: 70px;
        color: white;
        display: block;
    }
    .buttons{
        font-size: 40px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
        border-radius: 8px;
    }
    #submitButton{
        width: 100%;
        font-size: 40px;
        background-color: green;
    }
    #callOptions input{
        margin-left: 30px;
    }
    #show_newNumbers{
        width: 100%;
    }
    fieldset{
        border: 1px solid white;
        opacity: .9;
        font-size: 24px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
}

