*{
    font-family: "Audiowide", cursive;
}

body{
    background-image: url('https://ak9.picdn.net/shutterstock/videos/1030736249/thumb/1.jpg?ip=x480');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 80px;
}
#back{
    background-color: white;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 2px;
}
#pageContainer{
    width: 50%;
}
#numberContainer{
    height: 500px;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    border-radius: 5px;
}
#numberContainer h1{
    text-align: center;
    text-decoration: underline;
}
li{
    list-style: none;
}
#number{
    color: black;
    font-size: 30px;
    text-align: center;
}
#message{
    font-size: 40px;
    margin-top: 18px;
    color: red;
    text-align: center;
}

#deleteEntry{
    font-size: 15px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 2px;
    margin-top: 18px;
}

/* ipad pro */
@media(max-width: 1024px){
    #backbutton{
        display: none;
    }
    #pageContainer{
        width: 90%;
        margin: 0 auto;
    }
    #back{
        background-color: white;
        margin-bottom: 25px;
        font-size: 40px;
        border-radius: 2px;
        display: inline-block;
    }
    #numberContainer{
        height: 1000px;
    }
    h1{
        font-size: 65px;
        color: white;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 50px;
        text-align: center;
    }
    #deleteEntry{
        font-size: 30px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 35px;
    }
    #message{
        font-size: 60px;
        margin-top: 25px;
        text-align: center;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    
}


/* galaxy s5 */
@media(max-width: 360px){
    #backButton{
        display: none;
    }
    #numberContainer{
        height: 250px;
    }
    #pageContainer{
        width: 90%;
        margin: 0 auto;
    }
    #back{
        background-color: white;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
    }
    
    h1{
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 24px;
    }
    #deleteEntry{
        font-size: 15px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 18px;
    }
    #message{
        font-size: 22px;
        margin-top: 18px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    
}

/* iphone 6/7/8 iphoneX */
@media(max-width: 375px){
    #backButton{
        display: none;
    }
    #pageContainer{
        width: 90%;
        margin: 0 auto;
    }
    #back{
        background-color: white;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
    }
    
    h1{
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 24px;
    }
    #deleteEntry{
        font-size: 15px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 18px;
    }
    #message{
        font-size: 22px;
        margin-top: 18px;
        padding-right: 5px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    
}

/* iphone 6/7/8 plus */
@media(max-width: 414px){
    #backButton{display:none;}
    #pageContainer{
        width: 90%;
        margin: 0 auto;
    }
    #back{
        background-color: white;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
    }
    #numberContainer{
        height: 480px;
    }
    h1{
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 24px;
    }
    #deleteEntry{
        font-size: 15px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 18px;
    }
    #message{
        font-size: 22px;
        margin-top: 18px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    
}

/* ipad */
@media(max-width: 768px){
    #backbutton{
        display: none;
    }
    #pageContainer{
        width: 90%;
        margin: 0 auto;
    }
    #back{
        background-color: white;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
    }
    #numberContainer{
        height: 720px;
    }
    h1{
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 32px;
    }
    #deleteEntry{
        font-size: 22px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 18px;
    }
    #message{
        font-size: 30px;
        margin-top: 18px;
        letter-spacing: 2px;
    }
    body{
        background-image: none;
        background-color: black;
        color: white;
    }
    
}

/* iphone 5/se */
@media(max-width: 320px){
    #backButton{
        display: none;
    }
    #pageContainer{
        width: 90%;
        margin: 0 auto;
    }
    #back{
        background-color: white;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
    }
    
    h1{
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .buttons{
        font-size: 24px;
        width: 100%;
        margin: 6px 0;
        background-color: red;
    }
    #number{
        font-size: 24px;
    }
    #deleteEntry{
        font-size: 15px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 2px;
        margin-top: 18px;
    }
    #message{
        font-size: 22px;
        margin-top: 18px;
        padding-right: 10px;
    }
    body{
        background-image: none;
        background-color: black;
        opacity: .7;
        color: white;
    }
    
}

