*{
    font-family: "Audiowide", cursive;
}
body{
    background-image: url('https://ak9.picdn.net/shutterstock/videos/1030736249/thumb/1.jpg?ip=x480');
    background-repeat: no-repeat;
    background-size: cover;
}
#pageContainer{
    width: 50%;
}
#numberContainer{
    height: 350px;
    width: 100%;
    background-color: white;
    opacity: .5;
    overflow-y: scroll;
}
#numberContainer h1{
    text-align: center;
    text-decoration: underline;
}
li{
    list-style: none;
}
#number{
    color: black;
}
#message{
    color: red;
}